.loader {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px dashed #09a18d;
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1.3);
    }
    to {
        transform: rotate(360deg) scale(1);
    }
}